/* Use CSS para estilizar a página, deixando-a mais atraente e amigável.
Você pode adicionar cores, bordas, espaçamentos e até mesmo animações simples. */
* {
    margin: 0;
    padding: 0;
}

header {
    margin: 10px;
    text-align: center;
}

body {
    font-family: 'Montserrat', Verdana, sans-serif;
    line-height: 1.6;
    background: #0D0D0D;
    color: #CCCCCC;
    
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

article {
    margin: 10px;
    width: 900px;
    height: auto;
    text-align: center;
    background: #1A1A1A;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.7);
}

article section {
     display: flex;
     flex-direction: column;
     align-items: center;
}

input {
    width: 300px;
    height: 20px;
    background-color: #1A1A1A;
    color: #E0E0E0;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

label {
    font-size: 18px;
}

h1 {
    color: #BB86FC;
    margin: 10px;
}

h2{
    color: #66FCF1;
    margin: 10px    ;
}

p {
    margin: 10px;
    padding: 5px;
    font-size: 18px;
}

button {
    border-radius: 8px;
    font-size: 20px;
    background: #BB86FC;
    color: #121212;
    margin: 10px;
    border-color: #46325e;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

button:hover {
    background: #3700B3;
    color: white;
    border-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
}

footer {
    text-align: center;
}